{% for ad in ads %}
    <h2>
        <a href="#">{{ ad.title }}</a>
    </h2>
    {% if myList == 0 %}
        <p class="lead">
            by <a href="index.php">{{ ad.postedBy.username }}</a>
        </p>
    {% endif %}
    <p><span class="glyphicon glyphicon-time"></span> Posted: {{ ad.posted.date }}</p>
    <p><span class="glyphicon glyphicon-paperclip"></span> Category: {{ ad.category }}</p>
    <hr>
    <p>{{ ad.description }}</p>

    <hr>
{% endfor %}